@import "variable"

/* FREAME IT STYLE */

%defaultStyle
  position: fixed
  z-index: $z-index
  background-color: $default

%topAndBottomSize
  width: 100%
  height: $thickness

%leftAndRightSize
  width: $thickness
  height: 100%

.frame-it
  .border
    &-top
      @extend %defaultStyle
      @extend %topAndBottomSize
      top: 0
    &-right
      @extend %defaultStyle
      @extend %leftAndRightSize
      right: 0
    &-bottom
      @extend %defaultStyle
      @extend %topAndBottomSize
      bottom: 0
    &-left
      @extend %defaultStyle
      @extend %leftAndRightSize
      left: 0

  /* Colors */
  .primary
    background-color: $primary
  .default
    background-color: $default
  .edit
    background-color: $edit
  .error
    background-color: $error
  .warning
    background-color: $warning
  .success
    background-color: $success
  .alert
    background-color: $alert

